@import "../../../common.module.scss";

.formFieldGroup {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }

  .formFieldInput,
  .formFieldTextarea,
  .formFieldSelect {
    @extend .input;
  }

  .formFieldTextarea {
    @extend .textarea;
  }
}
