@import "../../../common.module.scss";

.card {
  @extend .card;
}

.title {
  @extend .title;
}

.description {
  @extend .description;
}

.image {
  @extend .image;
}

.form {
  @extend .flex-column;
  gap: 1rem;
}

.submitButton {
  @extend .button;
  @extend .button-primary;
}

.formGroup {
  @extend .flex-column;
  gap: 0.5rem;

  label {
    font-weight: bold;
  }

  input,
  textarea,
  select {
    @extend .input;
  }

  textarea {
    @extend .textarea;
  }
}
