@import "../../common.module.scss";

.taskCard {
  @extend .card;
  @extend .card-task;
  background-color: #f5f5f5;
  cursor: pointer;
  @extend .flex-column;
  @extend .flex-center;

  &:hover {
    background-color: #e0e0e0;
  }
}

.taskTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.taskDescription {
  @extend .description;
  font-size: 14px;
}
