@import "../../common.module.scss";

.taskDetail {
  @extend .card;
  padding: 10px;
  position: relative;
  height: 200px;
}

.topSection {
  margin-bottom: 5px;
  height: 20%;

  p {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }
}

.bottomSection {
  @extend .flex-column;
  height: 80%;
  width: 90%;
}

.taskBars {
  @extend .flex-row;
}

.taskType,
.taskSize {
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 8px;
  font-size: 10px;
}

.description {
  @extend .description;
  font-size: 14px;
  margin-bottom: 16px;
}

.buttons {
  @extend .flex-row;
  gap: 8px;
}
