.container {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  width: 100%;
  padding: 0.5rem;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.navLinks a {
  text-decoration: none;
  color: white;
}

.signButton {
  border: 1px solid #777;
  background-color: #7c6f5a;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.signButton:hover {
  background-color: #634e3e;
}

.userName {
  margin-right: 1rem;
}

.signOutButton {
  border: 1px solid #777;
  background-color: #7c6f5a;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.signOutButton:hover {
  background-color: #634e3e;
}
