@import '../common.module.scss';

.container {
  height: 8vh;
  @extend .flex-horizontal;
  @extend .bg-shadow;
  background-color: $primary-color;
  color: white;
  width: 98vw;

  padding: 0 1rem;
}

.mainLinksContainer {
  flex-grow: 2;
  height: 100%;
  @extend .flex-horizontal;
}
.projectsContainer {
  display: flex;
  overflow-x: auto;
  height: 100%;
  white-space: nowrap;
}
.navLink {
  @extend .flex-horizontal;
  @extend .link;
  padding: 0rem 1rem;
  height: 100%;
  color: white;
}

.loading {
  color: $secondary-color;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
