@import "/app/common.module.scss";
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
/* Form Elements */
.input,
.textarea,
.dropdown {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(255, 255, 255, 0.19);
  outline: none;
  color: $textSecondary;
}

.dropdownGroup {
  display: flex;

  .formFieldSelect {
    width: 7vw;
  }
}
.buttonGroup {
  margin-right: -1vw;
  margin-top: 1vh;
  display: flex;
  justify-content: flex-end;
}

/* Form Field Group */
.formFieldGroup {
  margin-bottom: 0.5vh;

  label {
    display: block;
    margin-bottom: 0.25vh;
    font-weight: bold;
    color: $textPrimary;
  }

  .formFieldInput,
  .formFieldTextarea,
  .formFieldSelect {
    @extend .input;
  }

  .formFieldTextarea {
    @extend .textarea;
  }
}
