@import "/app/common.module.scss";

.projectCard {
  @extend .card-medium;
  padding: 0 0px;
}

.topContent {
  flex-direction: row;
  align-items: flex-end;
  height: 45%;
  border-radius: 8px;
  padding: 0 10px;
  background-color: $primaryColor;
}

.bottomContent {
  height: 55%;
  padding: 10px;
  .link {
    max-height: 20%;
  }
  .description {
    min-height: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    @extend .description;
  }
}
