/* Variables */
$primary-color: #367c2b;
$primary-hover-color: #005bb5;
$secondary-color: #6200ea;
$secondary-hover-color: #3700b3;
$danger-color: #d9534f;
$danger-hover-color: #c9302c;
$input-border-color: #ccc;
$input-focus-color: #6200ea;
$input-focus-shadow-color: rgba(98, 0, 234, 0.5);

/* Typography */
.title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}

.cornerTitle {
  h2 {
    font-size: 40px;
    font-weight: 600;
    color: #333;
    margin: 0;
  }
  margin: 0;

  width: 100%;
}

.littleTitle {
  font-size: 24px;
  margin-bottom: 8px;
  color: #fff;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 16px;
}

.description {
  font-size: 16px;
  color: #666;
  margin-bottom: 16px;
}
.bg-shadow-round {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.bg-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bgShadowWhite {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Containers */

.container {
  margin: 0 auto;
  padding: 1rem;
  gap: 2rem;
}

.pageContainer {
  @extend .flex-center-column;
  width: 90vw;
  padding: 5vw;
  gap: 2rem;
}

.gridDisplayContainer {
  @extend .container;
  @extend .bgShadowWhite;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  @extend .bgShadowWhite;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
  margin-top: 0;
  box-sizing: border-box;
}

.cardLarge {
  @extend .card;
  width: 300px;
  height: 375px;
}

.card-medium {
  @extend .card;
  width: 250px;
}

.card-small {
  @extend .card;
  width: 250px;
  height: 250px;
}

.card-clickable {
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;

  & {
    background-color: #e0e0e0;
  }
}

.card-feature {
  flex-direction: row;
}

.card-task {
  height: 200px;
}

/* Flex Utilities */

.flex-row {
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-horizontal {
  display: flex;
  align-items: center;
}
.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Grid Utilities */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 8px;
}

/* Misc */
.background-cover {
  background-size: cover;
}

.background-color-primary {
  background-color: $primary-color;
}

.background-color-secondary {
  background-color: $secondary-color;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 16px;
}

.editIcon {
  position: absolute;
  top: 15px;
  right: 15px;
}
.actionButtons {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  z-index: 10;
  right: 10px;
}

.link {
  font-size: 16px;
  color: $secondary-color;
  text-decoration: none;
  &:hover {
    background-color: $secondary-color;
  }
}

/* Buttons */
.required {
  color: red;
  margin-left: 4px;
}

.saveButton,
.deleteButton {
  padding: 8px 16px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.saveButton {
  background-color: #2196f3;
  color: #fff;
}

.deleteButton {
  background-color: #f44336;
  color: #fff;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: $danger-color;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  @extend .flex-center;

  & {
    background-color: $danger-hover-color;
  }
}
