/* Variables */
$primary-color: #0070f3;
$primary-hover-color: #005bb5;
$secondary-color: #6200ea;
$secondary-hover-color: #3700b3;
$danger-color: #d9534f;
$danger-hover-color: #c9302c;
$input-border-color: #ccc;
$input-focus-color: #6200ea;
$input-focus-shadow-color: rgba(98, 0, 234, 0.5);

/* Typography */
.title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}

.cornerTitle {
  h2 {
    font-size: 40px;
    font-weight: 600;
    color: #333;
    margin: 0;
  }
  margin: 0;

  width: 100%;
}

.littleTitle {
  font-size: 24px;
  margin-bottom: 8px;
  color: #fff;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 16px;
}

.description {
  font-size: 16px;
  color: #666;
  margin-bottom: 16px;
}

.bg-shadow {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Buttons */
.button {
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.button-primary {
  background-color: $primary-color;
  color: white;

  & {
    background-color: $primary-hover-color;
  }
}

.button-secondary {
  background-color: $secondary-color;
  color: white;

  & {
    background-color: $secondary-hover-color;
  }
}

.button-danger {
  background-color: $danger-color;
  color: white;

  & {
    background-color: $danger-hover-color;
  }
}

/* Form Elements */
.input,
.textarea,
.dropdown {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;

  & {
    border-color: $input-focus-color;
    box-shadow: 0px 0px 5px $input-focus-shadow-color;
  }

  &.textarea {
    resize: vertical;
  }
}

/* Containers */

.container {
  margin: 0 auto;
  padding: 1.5vw;
  gap: 2rem;
}

.pageContainer {
  @extend .container;
  @extend .flex-center-column;
  width: 90vw;
}

.gridDisplayContainer {
  @extend .container;
  @extend .bg-shadow;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  @extend .bg-shadow;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
  margin-top: 0;
  box-sizing: border-box;
}
.card-alt {
  @extend .bg-shadow;
  display: flex;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.cardLarge {
  @extend .card;
  width: 300px;
  height: 375px;
}

.card-medium {
  @extend .card;
  width: 250px;
}

.card-small {
  @extend .card;
  width: 250px;
  height: 250px;
}

.card-clickable {
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;

  & {
    background-color: #e0e0e0;
  }
}

.card-feature {
  flex-direction: row;
}

.card-task {
  height: 200px;
}

/* Flex Utilities */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}
.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Grid Utilities */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 8px;
}

/* Misc */
.background-cover {
  background-size: cover;
}

.background-color-primary {
  background-color: $primary-color;
}

.background-color-secondary {
  background-color: $secondary-color;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 16px;
}

.editIcon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.link {
  display: inline-block;
  font-size: 16px;
  color: $secondary-color;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s;

  & {
    border-color: $secondary-color;
  }
}

/* Required Indicator */
.required {
  color: red;
  margin-left: 4px;
}

.saveButton,
.deleteButton {
  padding: 8px 16px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.saveButton {
  background-color: #2196f3;
  color: #fff;
}

.deleteButton {
  background-color: #f44336;
  color: #fff;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: $danger-color;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  @extend .flex-center;

  & {
    background-color: $danger-hover-color;
  }
}
