/* Variables */
$primaryColor: #8cdc9e;
$primary-hover-color: #72b380;
$secondaryColor: #eeff99;
$secondaryHoverColor: #d6e68a;
$accentcolor: #00a9a5;
$accentSecondaryColor: #a8cecf;

$textPrimary: #f0f0f0;
$textSecondary: #e4e4e4;
$textInverse: #0d0d0d;
$boxShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$buttonShadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$arrowShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$topShadow: rgba(0, 0, 0, 0.25) 0px 3px 3px 0px;

/* Typography */
.title {
  font-size: 25px;
  color: $textPrimary;
  margin-bottom: 8px;
}

.cornerTitle {
  width: 50%;
  margin: 0;
  margin-right: 50%;
  h2 {
    font-size: 40px;
    font-weight: 600;
    color: $textPrimary;
  }
}

.littleTitle {
  font-size: 24px;
  margin-bottom: 8px;

  color: $textPrimary;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.description {
  font-size: 16px;
  color: $textSecondary;
  margin-bottom: 16px;
}

/*Background*/
.bgGlass {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.bg-shadow-round {
  box-shadow: $boxShadow;
  border-radius: 8px;
}

.bg-shadow {
  box-shadow: $boxShadow;
}

.bgShadowWhite {
  border-radius: 8px;
  box-shadow: $boxShadow;
}

/* Containers */
$containerBackground: #28343b;
$boxBackground: #134074;
.container {
  margin: 0 auto;
  padding: 1rem;
  gap: 2rem;
}

.pageContainer {
  @extend .flex-center-column;
  width: 90vw;
  padding: 5vw;
  gap: 2rem;
}

.gridDisplayContainer {
  @extend .container;
  border-radius: 8px;
  box-shadow: $boxShadow;
  background-color: $containerBackground;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@mixin card($width, $height: auto) {
  @extend .bgShadowWhite;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
  box-sizing: border-box;
  background-color: $boxBackground;
  width: $width;
  height: $height;
}

.card-clickable {
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  background-color: $accentSecondaryColor;
}

.card-feature {
  flex-direction: row;
}

.card-task {
  height: 200px;
}

/* Flex Utilities */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-horizontal {
  display: flex;
  align-items: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Grid Utilities */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 8px;
}

/* Misc */
.background-cover {
  background-size: cover;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 16px;
}

.editIcon {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 15px;
  color: $textPrimary;
}

.actionButtons {
  position: absolute;
  bottom: 10px;
  z-index: 10;
  right: 10px;
}

.link {
  font-size: 15px;
  color: $secondaryColor;
  text-decoration: none;
  &:hover {
    background-color: $secondaryHoverColor;
  }
}

/* Buttons */
.required {
  color: $primaryColor;
  margin-left: 4px;
}

.saveButton,
.deleteButton {
  padding: 8px 16px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.saveButton {
  background-color: $primaryColor;
  color: $textPrimary;
  box-shadow: $buttonShadow;
}

.deleteButton {
  background-color: $accentcolor;
  color: $textPrimary;
  box-shadow: $buttonShadow;
}

.closeButton {
  position: absolute;
  top: 0px;
  right: 2px;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: $primaryColor;
  color: $textPrimary;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  @extend .flex-center;
  &:hover {
    background-color: $primary-hover-color;
  }
}
