/* homepage.module.scss */
@import './common.module.scss';

/* Homepage specific styles */

.landing {
  @extend .flex-center-column;
  padding: 2rem;
  background-color: $boxBackground;
  border-radius: 8px;
  @extend .bg-shadow;
  p {
    color: $textSecondary;
  }
}

.favoritesSection,
.loginSection {
  @extend .flex-center-column;
  text-align: center;
}

.favoritesSection h2,
.loginSection h2 {
  @extend .subtitle;
  color: $textPrimary;
}

.createCard {
  @extend .card-medium;
}

.createProjectSection h2,
.projectCardsSection h2 {
  @extend .subtitle;
}

.signButton {
  @extend .saveButton;
  background-color: #7c6f5a;
  color: white;
  border: 1px solid #333;
  border-radius: 0.25rem;

  &:hover {
    background-color: #634e3e;
  }
}
