/* homepage.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #f5f5f5;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.favoritesSection,
.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.favoritesSection h2,
.loginSection h2 {
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 1rem;
}

.mainContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.createProjectSection,
.projectCardsSection {
  display: flex;
  height: 100%;
}

.createProjectSection h2,
.projectCardsSection h2 {
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 1rem;
}

.signButton {
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  background-color: #7c6f5a;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signButton:hover {
  background-color: #634e3e;
}
