/* SigninButton.module.css */

.flexContainer {
  display: flex;
  gap: 4px;
  margin-left: auto;
}

.userName {
  color: #3182ce;
}

.signOutButton {
  color: #e53e3e;
}

.signInButton {
  color: #48bb78;
}
