@import '/app/common.module.scss';

.card {
  @extend .cardLarge;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-bottom: 1.5%;
}

.featureInfo {
  display: flex;
  flex-direction: column;
  min-height: 35%;
  padding-bottom: 5%;
  overflow: hidden;
}

.title {
  flex: 0 0 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 5px 0;
}

.description {
  flex: 1 0 40%;
  margin: 0px 10px;
  justify-content: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.clickableArea {
  @extend .card-medium;
  background-color: $accentcolor;
  flex: 0 0 60%;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.taskGrid {
  display: flex;
  flex-wrap: wrap;
}

.createTaskCard {
  @extend .card-small;
  background-color: $primaryColor;
  color: $textPrimary;
  transition: background-color 0.3s;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $primary-hover-color;
  }
}
