@import "../../common.module.scss";

.container {
  @extend .container;
}

.createCard {
  @extend .card;
  @extend .card-large;
}

.projectInfo {
  margin-bottom: 32px;
  height: 30vh;
  @extend .card;
}

.titleContent {
  width: 30%;
  border-radius: 8px;
  padding: 1%;
  @extend .background-color-primary;

  .title {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin: 0;
  }
}

.descriptionContent {
  padding: 0.5%;

  .description {
    @extend .description;
  }
}

.link {
  @extend .link;
}

.featuresSection {
  margin-top: 32px;
}

.featuresTitle {
  @extend .subtitle;
}

.featuresGrid {
  @extend .featuresGrid;
}
