@import '../../common.module.scss';

.projectInfo {
  margin-bottom: 32px;
  height: 30vh;
  width: 100%;
  @extend .bgShadowWhite;
  display: flex;
  margin-bottom: 16px;
  box-sizing: border-box;
  position: relative;
}

.infoLeft {
  width: 30%;
  border-radius: 8px;
  @extend .background-color-primary;
  padding: 1%;
  .title {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin: 0;
  }
}

.infoRight {
  width: 70%;
  padding: 15px 60px 15px 15px;
  .link {
    @extend .link;
    font-size: 2vh;
  }
  .description {
    @extend .description;
    margin: 0.5% 2.5%;
  }
}

.featuresSection {
  margin-top: 32px;
}

.featuresTitle {
  @extend .subtitle;
}

.featuresGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
