@import "../../../common.module.scss";

.editableContent {
  @extend .flex-column;
  position: relative;

  &.editing {
    min-height: 200px; // Adjust as necessary to ensure space for form fields
  }

  .input,
  .textarea {
    @extend .input;
  }

  .textarea {
    @extend .textarea;
  }

  .saveButton,
  .cancelButton,
  .deleteButton {
    @extend .button;
    padding: 8px 16px;
    margin-right: 8px;

    &.save {
      @extend .button-primary;
    }

    &.cancel {
      @extend .button-secondary;
    }

    &.delete {
      @extend .button-danger;
    }
  }

  .editIcon {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    color: #4caf50;
  }

  .buttons {
    @extend .flex-row;
    justify-content: flex-end;
    gap: 8px;
  }
}
