.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 5%;
}

.formContainer {
  margin-bottom: 20px;
}

.formContainer input {
  padding: 10px;
  margin-right: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formContainer button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todosContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.todoCard {
  border: 1px solid #ddd;
  padding: 16px;
  width: 200px;
  position: relative;
}

.todoCard:hover {
  background-color: #f5f5f5;
}

.todoCard h1 {
  margin-bottom: 8px;
}

.todoDetails {
  margin-top: 16px;
}

.deleteButton {
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.deleteButton:hover {
  background-color: #d9363e;
}
