/* page.module.css */

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  max-width: 400px;
}

.errorMessage {
  background-color: #a49377;
  border: 1px solid #5a5a5a;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}

.profileImage {
  display: flex;
  justify-content: center;
}

.todoForm {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.todoInput {
  flex-grow: 1;
  padding: 2px 8px;
  min-height: 50px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
}

.todoButton {
  position: relative;
  cursor: pointer;
}

.todoButtonIcon {
  border: 1px solid transparent;
  background-color: rgba(124, 111, 90, 0.8);
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.todoButtonIcon svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #7c6f5a;
}

.todoListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #a49377;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #7c6f5a;
  opacity: 0.9;
  color: #fff;
  padding: 0 1rem;
}

.todoListHeaderIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  fill: #5a5a5a;
}

.todoListItem {
  margin-bottom: 0.5rem;
}

.todoItemWrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid #a49377;
  background-color: #c7c7c7;
  padding: 1rem;
  gap: 1rem;
  min-width: 350px;
}

.todoItemText {
  font-size: 1rem;
  color: #000;
}

.todoItemActions {
  display: flex;
  align-items: center;
}

.todoItemAction {
  cursor: pointer;
}

.todoItemDelete {
  border: 1px solid transparent;
  background-color: #ff4d4d;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  outline: none;
}

.todoItemCollapse {
  cursor: pointer;
}

.todoItemCollapseIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #a49377;
  margin-left: 0.5rem;
}

.todoItemDetails {
  background-color: #c7c7c7;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem;
}
