@import '../../common.module.scss';

.card {
  @extend .cardLarge;
  display: flex;
  position: relative;
}

.content {
  @extend .flex-column;
  flex-shrink: 0;
  margin-right: 2.5%;
}

.editContainer {
  @extend .card-medium;
}

.featureInfo {
  min-height: 10%;
}

.clickableArea {
  @extend .card-medium;
  padding: 10px;
  background-color: #f0f0f0;
  height: 50%;
  user-select: none;
}

.taskGrid {
  display: flex;
  flex-wrap: wrap;
}

.createTaskCard {
  @extend .card-small;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #0056b3;
  }
}
