@import "../../common.module.scss";

.card {
  @extend .card;
  @extend .card-large;
  @extend .flex-row;
}

.content {
  @extend .flex-column;
  flex-shrink: 0;
  margin-right: 2.5%;
}

.editContainer {
  @extend .card;
  @extend .card-medium;
}

.featureInfo {
  margin-bottom: 16px;

  .input,
  .textarea {
    @extend .input;
  }
}

.clickableArea {
  @extend .card;
  @extend .card-clickable;
  padding: 10px;
  background-color: #f0f0f0;
  height: 80%;
}

.taskGrid {
  @extend .gridContainer;
  gap: 16px;
}

.createTaskCard {
  padding: 20px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #0056b3;
  }
}
