@import "../../common.module.scss";

.card {
  @extend .card;
  @extend .card-large;
  @extend .flex;
  position: relative;
}

.content {
  @extend .flex-column;
  flex-shrink: 0;
  margin-right: 2.5%;
}

.editContainer {
  @extend .card;
  @extend .card-medium;
}

.featureInfo {
  min-height: 10%;
}

.clickableArea {
  @extend .card;
  @extend .card-medium;
  padding: 10px;
  background-color: #f0f0f0;
  height: 50%;
}

.taskGrid {
  display: flex;
  flex-wrap: wrap;
}

.createTaskCard {
  @extend .card;
  @extend .card-small;

  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #0056b3;
  }
}

.editIcon {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 1.2rem;
}

.actionButtons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
}
